<div>
  <div class="top-menu">
    <img
      class="logo"
      src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
    />
  </div>

  <div class="demo">
    <div>Start Date: {{startDate | date: 'MM/dd/yyyy'}}</div>
    <div>Title: {{title | lowercase}}</div>
    <div>Price: {{price | number: '3.3-5'}}</div>
    <div>Price: {{price | currency: 'GBP'}}</div>
    <div>Percentage: {{rate | percent }}</div>
  </div>

  {{courses | json }}

  <div>
    @for (pair of course | keyvalue; track pair.key;){
      {{pair.key + ': ' + pair.value}}
    }
  </div>

  <div class="courses">
    @for (course of courses | slice: 0:2; track course.id;){
    <course-card
      [class.is-first]="$first"
      [course]="course"
      [index]="$index"
      (courseSelected)="courseSelected($event)"
    ></course-card>
    }
    @empty{
      <h1>No courses exist</h1>
    }
  </div>
</div>
